[Desktop Entry]
Comment[en_US]=
Comment=
Exec=sudo /etc/gsosinstall/post_install/gsoschroot.sh
GenericName[en_US]=
GenericName=
Icon=run-install
MimeType=
Name[en_US]=Chroot a GuestSneezeOS Installation
Name=Opens terminal window with mounted GuestSneezeOS partitions
Path=
StartupNotify=true
Terminal=true
TerminalOptions=
Type=Application
X-DBUS-ServiceName=
X-DBUS-StartupType=
X-KDE-SubstituteUID=false
X-KDE-Username=
