[Desktop Entry]
Comment[en_US]=
Comment=
Exec=sudo /etc/gsosinstall/gsosuninstall.sh
GenericName[en_US]=
GenericName=
Icon=run-install
MimeType=
Name[en_US]=Uninstall GuestSneezeOS on this machine
Name=Uninstalls GuestSneezeOS on this device 
Path=
StartupNotify=true
Terminal=true
TerminalOptions=
Type=Application
X-DBUS-ServiceName=
X-DBUS-StartupType=
X-KDE-SubstituteUID=false
X-KDE-Username=
